@page
@model ConflictRenewal.Pages.Conflicts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Conflict</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Conflict.Id" />
            <div class="form-group">
                <label asp-for="Conflict.ConflictDate" class="control-label"></label>
                <input asp-for="Conflict.ConflictDate" class="form-control" />
                <span asp-validation-for="Conflict.ConflictDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conflict.Question1" class="control-label"></label>
                <textarea asp-for="Conflict.Question1" class="form-control"></textarea>
                <span asp-validation-for="Conflict.Question1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conflict.Question2" class="control-label"></label>
                <textarea asp-for="Conflict.Question2" class="form-control"></textarea>
                <span asp-validation-for="Conflict.Question2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conflict.Question3" class="control-label"></label>
                <textarea asp-for="Conflict.Question3" class="form-control"></textarea>
                <span asp-validation-for="Conflict.Question3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conflict.Question4" class="control-label"></label>
                <textarea asp-for="Conflict.Question4" class="form-control"></textarea>
                <span asp-validation-for="Conflict.Question4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conflict.Question5" class="control-label"></label>
                <textarea asp-for="Conflict.Question5" class="form-control"></textarea>
                <span asp-validation-for="Conflict.Question5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conflict.Question6" class="control-label"></label>
                <textarea asp-for="Conflict.Question6" class="form-control"></textarea>
                <span asp-validation-for="Conflict.Question6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
