@page
@model IndexModel
@{
    ViewData["Title"] = "Conflict Renewal";
}
<h2>A better way to solve conflicts</h2>

<p>Have you ever noticed that some personal problems seem impossible to solve? Often we are tempted to give up, never understanding how conflicts are formed in the first place or how we can work through our confusion and discouragement.</p>
<p>TitanMaker offers a structured way to understand and resolve conflicts by fully experiencing our core emotions before we look to find lasting solutions to our problems.</p>

<p><a asp-page="/Conflicts/Create" class="btn btn-primary">Try TitanMaker Now</a></p>

@*<h3>Practice scenario: "Dave's New Job"</h3>

<p>After losing his job and spending three years on the streets, Dave is nearing the end of his training residency at the Union Rescue Mission in Los Angeles. He struggled with the structured routine at first, but now he enjoys life at the Mission and feels confident with his responsibilities.</p>
<p>Today Dave’s trainer, Jon, took him to interview with one of Mission’s employment partners for a position in a restaurant kitchen. The lunch rush was just ending and the restaurant was still quite busy. As he waited for his interview, he watched the employees in the kitchen skillfully and quickly preparing dishes. He was a little intimidated and wondered if he’d be up for the task.</p>
<p>Dave was nervous during his interview, but he’d rehearsed with Jon and was well prepared. He was pleased the store manager asked him to start the next Monday; but, now that Dave is back at the Mission, he doesn’t feel like starting a new job. He doesn’t think he’ll be able to make such complicated dishes so quickly and he feels uncomfortable making new friends. He’s planning to leave the Mission tonight after lights out.</p>

<p><a asp-page="/Conflicts/Create" class="btn btn-primary">Use Conflict Renewal to Help Dave</a></p>*@